@import "_layout";

$panel-width: 320px;
$panelside-width: 280px;

.container {
  height: 100vh;

  .panel-trigger {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 30px;
    top: 0;
    // right: -24px;
    right: 0;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.25s ease;
    width: 0;
    cursor: pointer;
    overflow: hidden;
    span {
      display: inline-block;
      position: relative;
      width: 12px;
      height: 12px;
      top: 6px;
      left: 8px;
      border-top: 1px solid #333;
      border-right: 1px solid #333;
      transform: rotate(-135deg);
    }
  }
  .panel {
    position: fixed;
    right: 0;
    top: 0;
    width: $panel-width;
    height: 100%;
    border-right: 1px solid #dedede;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(#333, 0.2);
    z-index: 10;
    transition: all 0.4s ease;
    transition-delay: 0.3s;

    &.moveLeft {
      left: -($panel-width);
      transition: all 0.4s ease;
      .panel-trigger {
        width: 24px;
        right: -24px;
        opacity: 0.5;
        transition: all 0.25s ease;
        &:hover {
          opacity: 1;
        }
        span {
          left: 2px;
          transform: rotate(45deg);
          transition: all 0.25s ease;
        }
      }
    }

    &:hover {
      .panel-trigger {
        width: 24px;
        right: -24px;
        transition: all 0.25s ease;
      }
    }

    .panel-container {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      height: 100%;
    }

    .element-leader {
      position: relative;
      padding: 12px 0;
      font-size: 15px;

      svg,
      input {
        display: inline-block;
        vertical-align: middle;
      }

      svg {
        margin-right: 5px;

        path {
          fill: lighten(#333, 40%);
        }
      }

      .trigger {
        @extend %v-center;
        right: 0px;
        cursor: pointer;
        z-index: 6;
        transition: all 0.35s ease;
        margin-top: -2px;
      }
    }

    .element {
      position: relative;
      padding: 0 15px;
      border-bottom: 1px solid #dedede;
      font-size: 13px;

      &_empty {
        color: #777;

        .element-setting,
        .element-button {
          display: none;
        }
      }

      &_edit {
        .element-leader {
          .trigger {
            transform: translateY(-50%) rotate(45deg);
            transition: all 0.35s ease;
          }
        }

        .element-setting,
        .element-button {
          display: block;
        }
      }

      .setting-leader {
        position: relative;
        padding: 20px 0 15px;
        color: #333;
        font-size: 16px;
        // border-top: 1px solid #eee;
      }

      .setting-leader-selection {
        // cursor: pointer;
        span {
          display: inline-block;
        }
      }

      .element-catagory {
        padding-bottom: 10px;

        ul {
          display: flex;
          justify-content: space-between;

          li {
            width: 30%;
            // margin: 0 3.3%;
            background-color: #eee;
            text-align: center;
            &:nth-of-type(2) {
              margin: 0 5px;
            }
            a {
              display: inline-block;
              width: 100%;
              padding: 8px 5px;

              &:hover {
                background-color: darken(#eee, 10%);
              }
            }
          }
        }
      }

      .element-setting {
        > .row-flex {
          padding-bottom: 10px;

          // .flex-col-m-2 {
          [class^="flex-col"] {
            padding-right: 5px;
            &:last-of-type {
              padding-right: 0;
            }
          }

          .flex-top {
            .label {
              padding-top: 7px;
            }
          }

          .label {
            width: 65px;
            padding-right: 10px;

            & ~ .content {
              width: calc(100% - 65px);
            }

            .required {
              display: inline-block;
              color: #a01515;
              vertical-align: super;
            }
          }
        }
      }
      #block-setting {
        &.is-desktop {
          > .row-flex {
            &:nth-last-of-type(1) {
              display: none;
            }
          }
        }
        &.is-mobile {
          > .row-flex {
            &:nth-last-of-type(2) {
              display: none;
            }
          }
        }
      }
    }

    .element-button {
      padding: 5px 0 10px;

      .row-flex {
        justify-content: center;
      }

      [class^="btn"] {
        width: 40%;
        text-align: center;
      }
    }

    #projectElement {
      .element-setting {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.45s ease;
      }
      &.active {
        .element-setting {
          max-height: 400px;
          opacity: 1;
          transition: all 0.65s ease;
          transition-delay: 0.2s;
        }
        .trigger {
          span {
            transform: rotate(45deg) translateY(7px);
            transition: all 0.45s ease;
          }
        }
      }
    }
  }

  .panelside {
    position: fixed;
    top: 0;
    left: $panel-width;
    height: 100%;
    width: $panelside-width;
    border-right: 1px solid #dedede;
    background-color: rgba(#fff, 0.8);
    box-shadow: 0 1px 6px 0 rgba(#333, 0.2);
    transform: translateX(-#{$panelside-width});
    transition: all 0.25s ease;
    transition-delay: 0.3s;
    // width: 0;
    visibility: hidden;
    z-index: 99;
    &.active {
      transform: translateX(0);
      transition: all 0.25s ease;
      // width: 0;
      visibility: visible;
    }
    &.moveLeft {
      transform: translateX(-#{$panelside-width});
      transition: all 0.25s ease;
      // visibility: hidden;
    }
    .icon-close {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
    .panelside-container {
      padding: 0px 7px;
      margin: 35px 0 50%;
      height: calc(100% - 40px - 50px);
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      .image-list {
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 10px 8px 4px;
          font-size: 13px;
          color: #333;
          cursor: pointer;
          border-bottom: 1px solid #cccccc;
          background-color: transparent;
          transition: all 0.2s ease;
          &.active,
          &:hover {
            background-color: #dedede;
            transition: all 0.2s ease;
          }
        }
        .img-self {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          border: 1px solid #aaa;
        }
        .image-container {
          padding-top: 56.25%;
        }
      }
    }
    .panelside-control {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 10px 15px 7px;
      text-align: right;
      border-top: 1px solid #ddd;
      li {
        display: inline-block;
        .btn {
          margin: 0;
          margin-left: 10px;
        }
      }
    }
  }

  .print_code {
    display: flex;
    justify-content: center;
    a {
      margin: 10px auto;
    }
  }

  .scene {
    min-height: 100vh;
    padding-left: $panel-width;
    // margin-left: 400px;
    // padding: 0 30px;
    transition: all 0.4s ease;

    &.panelside-show {
      padding-left: $panel-width + $panelside-width;
    }

    &.moveLeft {
      padding-left: 0;
      transition: all 0.4s ease;
      transition-delay: 0.3s;
    }
    .scene-container {
      width: 100%;
      position: relative;
      margin: auto;
      // border: 1px solid blue;
      // background-color: rgba(darkblue, 0.3);
    }
  }

  // mobile / desktop mode
  .preview-setting {
    .link-view {
      position: fixed;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      top: 0;
      right: 56px;
      border: 1px solid #aaa;
      z-index: 88;
      cursor: pointer;
      .fa-eye {
        position: absolute;
        opacity: 0;
      }
      svg {
        path {
          fill: #bbb;
        }
      }
      &.show {
        .fa-eye {
          opacity: 1;
        }
        .fa-eye-slash {
          opacity: 0;
        }
      }
    }
  }
  .toggle-destop-moblie {
    position: fixed;
    right: 0;
    top: 0;
    border: 1px solid #aaa;
    color: #bbb;
    text-align: center;
    line-height: 1;
    font-size: 0;
    z-index: 90;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 28px;
      height: 28px;
      left: 0;
      top: 0;
      background-color: #36b9e0;
      z-index: 0;
      transition: all 0.25s ease;
    }
    &.is-desktop {
      div {
        &:first-child {
          color: #333;
          transition: all 0.1s ease;
          transition-delay: 0.1s;
        }
        &:nth-child(2) {
          color: #bbb;
          transition: all 0.1s ease;
          transition-delay: 0.1s;
        }
      }
    }
    &.is-mobile {
      &::before {
        transform: translateX(28px);
        transition: all 0.25s ease;
      }
      div {
        &:first-child {
          color: #bbb;
          transition: all 0.1s ease;
          transition-delay: 0.1s;
        }
        &:nth-child(2) {
          color: #333;
          transition: all 0.1s ease;
          transition-delay: 0.1s;
        }
      }
    }
    div {
      position: relative;
      width: 28px;
      height: 28px;
      margin: 0;
      padding: 6px 1px 4px;
      display: inline-block;
      cursor: pointer;
      font-size: 15px;
      box-sizing: border-box;
      svg {
        position: relative;
        z-index: 1;
      }
    }
  }

  #code {
    // display: block;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    line-height: 1.7;
    z-index: 100;
    .blur-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000, 0.7);
    }
    .code-container {
      @extend %vh-center;
      width: 70%;
      height: 80%;
      background-color: #fff;
      padding: 40px 30px 40px 40px;
    }
    .code-wrapper {
      max-height: 100%;
      padding-right: 10px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    .icon-close {
      position: absolute;
      display: inline-block;
      width: 28px;
      height: 28px;
      right: 10px;
      top: 10px;
      cursor: pointer;
      // border: 1px solid #ccc;
      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #000;
      }
      &::before {
        transform: rotate(45deg) translate(9px, 9px);
      }
      &::after {
        transform: rotate(-45deg) translate(-9px, 9px);
      }
    }
  }
}

.lightbox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  &.lightbox-s {
    .lightbox-container {
      max-width: 200px;
      max-height: 180px;
    }
  }
  &.lightbox-m {
    .lightbox-container {
      max-width: 360px;
      max-height: 280px;
    }
  }
  &.lightbox-l {
    .lightbox-container {
      max-width: 720px;
      max-height: 480px;
    }
  }
  .bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, 0.5);
  }
  .lightbox-container {
    width: 80%;
    height: 80%;
    max-width: 360px;
    max-height: 280px;
    @extend %vh-center;
    background-color: #fff;
    line-height: 1.5;
    padding: 30px 8px 52px 20px;
    .icon-close {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  .lightbox-inner {
    position: relative;
    height: 100%;
    padding-right: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .control-bar {
      position: fixed;
      width: 100%;
      padding: 2px 10px 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      text-align: right;
      border-top: 1px solid #b7b7b7;
    }
  }
}

@media screen and (max-width: 1300px) {
  .container {
    .panel {
      width: 260px;
      &.moveLeft {
        left: -260px;
      }
      .element {
        font-size: 12px;
        .element-setting {
          > .row-flex {
            .label {
              width: 60px;
              padding-right: 5px;
              & ~ .content {
                width: calc(100% - 60px);
              }
            }
          }
        }
      }
    }
    .panelside {
      left: 260px;
    }
    .scene {
      // width: 260px;
      width: 100%;
      padding-left: 260px;
    }
  }
}
