@media (min-width: 992px) {
  #loreal-compaign {
    .zone_o2o {
      position: relative;
      .container_absolute {
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100%;
        padding-left: 13vw;
        padding-right: 13vw;
        padding-bottom: 5vw;
        .container_text {
          h6 {
            display: block;
            text-align: center;
            color: white;
            margin-bottom: 0.5vw;
            font-size: calc(1.8vw);
          }
          h4 {
            display: block;
            text-align: center;
            font-size: calc(1.8vw);
            margin-bottom: 2vw;
            letter-spacing: 0.3vw;
          }
          p {
            display: block;
            text-align: left;
            color: white;
            font-size: 0.8vw;
          }
          .tips {
            color: white;
          }
        }
        .container_o2o {
          // transform: scale(1.1);
          padding: 2vw;
          width: 25vw;
          background-color: #fff;
          .formfield_select {
            .f_label {
              padding-right: 0;
              width: 4vw;
            }
            label {
              display: block;
              line-height: 2vw;
            }
            .f_label_value {
              color: #000;
              font-size: 0.8vw;
              font-weight: bold;
            }
          }
          #dwfrm_registeroto_registercounterSelectBoxItContainer {
            background-color: #fff;
            width: 16vw;
          }
          .select {
            border: 1px solid #000;
            padding: 0;
            padding-left: 0.5vw;
            height: auto;
          }
          textarea,
          .select,
          .og-popup-container #og_reason_other_text {
            font-size: 0.8vw;
          }
        }
        .event_oto.event_oto {
          .event_content,
          .event_form {
            .f_field.formfield {
              &.registercounter,
              &.formfield_email,
              &.formfield.name,
              &.registercounter,
              &.formfield_oevent_mobile {
                margin-bottom: 0.9vw;
                label {
                  font-size: calc(0.8vw);
                }
                input {
                  border: 1px solid #000;
                  font-size: calc(0.8vw);
                  border: 1px solid #000;
                }
                .selectboxit-container {
                  .selectboxit-text {
                    height: 8vw;
                    font-size: calc(4vw);
                  }
                }
              }
              // &.registercounter {
              //   .selectboxit-container {
              //     border: 1px solid #000;
              //   }
              // }
              &.answer7 {
                .f_label_value {
                  a {
                    color: #337ab7;
                  }
                }
                label.f_label {
                  font-size: calc(0.8vw);
                  padding-left: 22px;
                }
                .checkbox_span {
                  border: 1px solid #000;
                  border-radius: 0;
                  top: 5px;
                }
              }
            }
            .formfield_button {
              .submit_button {
                font-size: 12px;
                height: 2vw;
              }
            }
          }
        }
        .event_oto {
          overflow: inherit;
        }
      }
    }
  }
}
@media (max-width: 991.9px) {
  #loreal-compaign {
    picture {
      img {
        width: 100%;
        font-size: 0;
      }
    }
    .zone_o2o {
      position: relative;
      height: 279vw;
      background: #000;
      .container_absolute {
        position: absolute;
        top: 102vw;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding-left: 13vw;
        padding-right: 13vw;
        padding-top: 8vw;
        padding-bottom: 5vw;
        .container_text {
          width: 100%;
          h6 {
            display: block;
            text-align: center;
            color: white;
            margin-bottom: 0.5vw;
            font-size: calc(6.8vw);
          }
          h4 {
            display: block;
            text-align: center;
            margin-bottom: 6vw;
            color: white;
            font-size: calc(6.8vw);
            letter-spacing: 0.3vw;
          }
          p,
          .tips {
            display: block;
            text-align: left;
            color: white;
            font-size: calc(3.8vw);
            margin-bottom: 6vw;
          }
        }
        .container_o2o {
          width: 100%;
          padding: 6vw 5vw 1vw 6vw;
          background-color: #fff;
          .formfield {
            margin: 0;
            margin-bottom: 5vw;
            position: relative;
          }
          .f_label_label {
            font-size: 4vw;
            width: 18vw;
            padding-top: 1.5vw;
            color: #000;
            font-weight: bold;
            display: inline-block;
          }
        }
        .event_oto.event_oto {
          .event_content,
          .event_form {
            .f_field.formfield {
              &.registercounter,
              &.formfield_email,
              &.formfield.name,
              &.registercounter,
              &.formfield_oevent_mobile {
                .selectboxit-container {
                  width: 42vw;
                }
                label {
                  width: 18vw;
                  font-size: calc(4vw);
                }
                input {
                  height: 8vw;
                  width: 45vw;
                  padding-left: 0.8vw;
                  font-size: calc(4vw);
                  border: 1px solid #000;
                  // font-size: calc(0.8vw);
                }
              }
              &.registercounter {
                .selectboxit-container {
                  border: 1px solid #000;
                }
              }
              &.answer7 {
                label.f_label {
                  font-size: calc(4vw);
                  letter-spacing: 0;
                }
                .f_label_value {
                  a {
                    color: #337ab7;
                  }
                }
              }
            }
            .formfield_button {
              button,
              .submit_button {
                width: 100%;
                background: #000;
                color: #fff;
                line-height: 0;
                height: 8vw;
                span {
                  font-size: calc(4vw);
                }
              }
            }
          }
        }
      }
    }
  }
}
