<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>mockup</title>
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body onDRAGSTART="window.event.returnValue=false">
  <div class="container" id="zone_desktop">
    <div class="panel">
      <div class="panel-trigger" v-on:click="TogglePanel()">
        <span></span>
      </div>
      <div class="panel-container">
        <div class="element active" id="projectElement">
          <div class="element-leader">
            <div class="name">專案設定</div>
            <div class="trigger" v-on:click="ToggleBlock()">
              <div class="icon-arrow-down">
                <span></span>
              </div>
            </div>
          </div>
          <div id="project-setting" class="element-setting">
            <div class="row row-flex">
              <div class="flex-col-m-1">
                <div class="row row-flex">
                  <div class="label">品牌名稱</div>
                  <div class="content">
                    <!-- <input v-model="f_name_project" type="text" class="input-s" /> -->
                    <div class="row row-flex justify-between">
                      <div class="flex-col-m-3" @mousemove="LocalStorage()">
                        <input class="radio-button" type="radio" v-model="fixed_project_data.type_project" value="YSL"
                          name="project" id="project-a">
                        <label for="project-a">YSL</label>
                      </div>
                      <div class="flex-col-m-3" @mousemove="LocalStorage()">
                        <input class="radio-button" type="radio" v-model="fixed_project_data.type_project" value="GAB"
                          name="project" id="project-b">
                        <label for="project-b">GAB</label>
                      </div>
                      <div class="flex-col-m-3" @mousemove="LocalStorage()">
                        <input class="radio-button" type="radio" v-model="fixed_project_data.type_project" value="KLS"
                          name="project" id="project-c">
                        <label for="project-c">KLS</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-1">
                <div class="row row-flex">
                  <div class="label">資料夾<div class="required">*</div>
                  </div>
                  <div class="content">
                    <input id="name_folder" v-model="f_name_folder" type="text" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-1">
                <div class="row row-flex">
                  <div class="label">campaign</div>
                  <div class="content">
                    <input v-model="f_code_campaign" type="text" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-1">
                <div class="row row-flex">
                  <div class="label">上線日期</div>
                  <div class="content">
                    <input v-model="f_date_start" type="text" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="element">
          <div class="element-leader">
            <div class="name">新增物件</div>
          </div>
          <div class="element-catagory">
            <ul>
              <li>
                <a href="javascript:;" v-on:click="ImgAddImg()">圖片</a>
              </li>
              <li>
                <a href="javascript:;" v-on:click="TextAddText()">文字</a>
              </li>
              <li>
                <a href="javascript:;" v-on:click="BtnAddBtn()">連結</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 圖片 -->
        <div class="element" v-show="fixed_img_count.display">
          <div class="setting-leader setting-leader-selection">
            <div class="row row-flex">
              <span>圖片設定</span>
            </div>
          </div>
          <!-- 判斷手機/電腦 -->
          <div id="block-setting" class="element-setting"
            :class="{'is-desktop':this.pc_status, 'is-mobile':this.mobile_status}">
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">id</div>
                  <div class="content">
                    <input type="text" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">class</div>
                  <div class="content">
                    <input type="text" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">寬度</div>
                  <div class="content">
                    <input type="text" v-model="f_img_width" v-on:keydown="KeyDownChangInt_ImgWidth()"
                      placeholder="300px" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2"></div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">x軸</div>
                  <div class="content">
                    <input type="text" v-model="f_img_left" v-on:keydown="KeyDownChangInt_ImgLeft()" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">y軸</div>
                  <div class="content">
                    <input type="text" v-model="f_img_top" v-on:keydown="KeyDownChangInt_ImgTop()" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">z-index</div>
                  <div class="content">
                    <input type="number" v-model="f_img_zIndex" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">背景色</div>
                  <div class="content">
                    <input type="text" v-model="f_img_backgroundColor" placeholder="#ededed" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-1">
                <div class="row row-flex flex-top">
                  <div class="label">圖片路徑</div>
                  <div class="content">
                    <input type="text" v-model="f_img_srcset" />
                    <input type="file" id="pc_file_name" v-on:change="ImgPcFileName()">
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-1">
                <div class="row row-flex flex-top">
                  <div class="label">圖片路徑</div>
                  <div class="content">
                    <input type="text" v-model="f_img_src" />
                    <input type="file" id="xs_file_name" v-on:change="ImgXsFileName()">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="element-button">
            <div class="row row-flex">
              <a href="javascript:;" class="btn btn-border btn-check" v-on:click="ImgCheckBtn()">確定</a>
              <a href="javascript:;" class="btn btn-border btn-cancel" v-on:click="ImgRemoveBtn()">刪除</a>
            </div>
          </div>
        </div>
        <!-- 文字 -->
        <div class="element" v-show="fixed_text_count.display">
          <div class="setting-leader setting-leader-selection">
            <div class="row row-flex">
              <span>文字設定</span>
            </div>
          </div>
          <div id="text-setting" class="element-setting">
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">id</div>
                  <div class="content">
                    <input type="text" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">class</div>
                  <div class="content">
                    <input type="text" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="label">標題</div>
              <div class="content">
                <input v-model="f_text_content" type="text" />
              </div>
            </div>

            <div class="row row-flex">
              <div class="label">內距</div>
              <div class="content">
                <div class="row row-flex">
                  <input type="text" class="input-s" placeholder="上下" />
                  <input type="text" class="input-s" placeholder="左右" />
                  <!-- <div class="flex-col-m-4">
                    <input type="text" class="input-ss" v-model="f_text_paddingTop" placeholder="上" />
                  </div>
                  <div class="flex-col-m-4">
                    <input type="text" class="input-ss" v-model="f_text_paddingRight" placeholder="右" />
                  </div>
                  <div class="flex-col-m-4">
                    <input type="text" class="input-ss" v-model="f_text_paddingBottom" placeholder="下" />
                  </div>
                  <div class="flex-col-m-4">
                    <input type="text" class="input-ss" v-model="f_text_paddingLeft" placeholder="左" />
                  </div> -->
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">字型大小</div>
                  <div class="content">
                    <input type="text" v-model="f_text_fontSize" placeholder="12px" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">文字顏色</div>
                  <div class="content">
                    <input type="color" v-model="f_text_color" placeholder="#ededed" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">背景顏色</div>
                  <div class="content">
                    <input type="text" v-model="f_text_backgroundColor" placeholder="#ededed" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">外框</div>
                  <div class="content">
                    <input type="text" v-model="f_text_border" placeholder="#ededed" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">z-index</div>
                  <div class="content">
                    <input type="number" v-model="f_text_zIndex" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2"></div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">x軸</div>
                  <div class="content">
                    <input type="text" v-on:keydown="KeyDownChangInt_TextLeft()" v-model="f_text_left" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">y軸</div>
                  <div class="content">
                    <input type="text" v-on:keydown="KeyDownChangInt_TextTop()" v-model="f_text_top" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="element-button">
            <div class="row row-flex">
              <a href="javascript:;" v-on:click="TextCheckBtn()" class="btn btn-border btn-check">確定</a>
              <a href="javascript:;" v-on:click="TextRemoveBtn()" class="btn btn-border btn-cancel">刪除</a>
            </div>
          </div>
        </div>
        <!-- 連結 -->
        <!-- <div class="element" v-show="fixed_btn_count.display"> -->
        <div class="element">
          <div class="setting-leader setting-leader-selection">
            <div class="row row-flex">
              <span>連結設定</span>
            </div>
          </div>
          <div id="button-setting" class="element-setting">
            <div class="row row-flex">
              <div class="flex-col-m-1">
                  <input type="checkbox" id="link-popup" class="checkbox">
                  <label for="link-popup"><span></span>以popup彈跳視窗開啟</label>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">id</div>
                  <div class="content">
                    <input type="text" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">class</div>
                  <div class="content">
                    <input type="text" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="label">文字</div>
              <div class="content">
                <input type="text" v-model="f_btn_content" />
              </div>
            </div>
            <div class="row row-flex">
              <div class="label">連結</div>
              <div class="content">
                <input type="text" v-model="f_btn_href" />
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">寬度</div>
                  <div class="content">
                    <input type="text" v-model="f_btn_width" placeholder="300px" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">高度</div>
                  <div class="content">
                    <input type="text" v-model="f_btn_height" class="ipnut-s" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">z-index</div>
                  <div class="content">
                    <input type="number" v-model="f_btn_zIndex" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">外框</div>
                  <div class="content">
                    <input type="text" v-model="f_btn_border" placeholder="大小 顏色 線條" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">背景</div>
                  <div class="content">
                    <input type="text" v-model="f_btn_backgroundColor" placeholder="#ededed" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">文字顏色</div>
                  <div class="content">
                    <input type="color" v-model="f_btn_color" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">字型大小</div>
                  <div class="content">
                    <input type="text" v-model="f_btn_fontSize" placeholder="12px" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
              </div>
            </div>
            <div class="row row-flex">
              <div class="label">內距</div>
              <div class="content">
                <div class="row row-flex">
                  <input type="text" class="input-s" placeholder="上下" />
                  <input type="text" class="input-s" placeholder="左右" />
                  <!-- <div class="flex-col-m-4">
                    <input type="text" v-model="f_btn_paddingTop" class="input-ss" placeholder="上" />
                  </div>
                  <div class="flex-col-m-4">
                    <input type="text" v-model="f_btn_paddingRight" class="input-ss" placeholder="右" />
                  </div>
                  <div class="flex-col-m-4">
                    <input type="text" v-model="f_btn_paddingBottom" class="input-ss" placeholder="下" />
                  </div>
                  <div class="flex-col-m-4">
                    <input type="text" v-model="f_btn_paddingLeft" class="input-ss" placeholder="左" />
                  </div> -->
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">x軸</div>
                  <div class="content">
                    <input type="text" v-on:keydown="KeyDownChangInt_BtnLeft()" v-model="f_btn_left" />
                  </div>
                </div>
              </div>
              <div class="flex-col-m-2">
                <div class="row row-flex">
                  <div class="label">y軸</div>
                  <div class="content">
                    <input type="text" v-on:keydown="KeyDownChangInt_BtnTop()" v-model="f_btn_top" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="element-button">
            <div class="row row-flex">
              <a href="javascript:;" v-on:click="BtnCheckBtn()" class="btn btn-border btn-check">確定</a>
              <a href="javascript:;" v-on:click="BtnRemoveBtn()" class="btn btn-border btn-cancel">刪除</a>
            </div>
          </div>
        </div>
        <div class="row row-flex button-row justify-center">
          <a href="javascript:;" v-on:click="PrintCode()" class="btn btn-border btn-check">印出程式碼</a>
          <a href="javascript:;" class="btn btn-border btn-check" v-on:click="ClearData()">
            清除所有資料
          </a>
        </div>
      </div>
    </div>
    <!-- 選擇圖片時 panelside 加上 active class -->
    <div class="panelside">
      <div class="icon-close">
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- 產出區 -->
    <!-- 選擇圖片時 scene 加上 panelside-show class -->
    <div class="scene" id="scene" draggable="false" onSelectStart="event.returnValue=false">
      <div class="scene-container" id="loreal-compaign" onSelectStart="event.returnValue=false">
        <!-- 桌機區 -->
        <div class="display_zone_destop" style="width: 950px; position: relative; margin: initial;" v-show="pc_status">
          <!-- 產生圖片 -->
          <div class="main-img" v-on:mousedown="ImgMouseMoveGetXY()" v-bind:style="fixed_img_count.pc_img_data[index]"
            v-for="(item,index) in fixed_img_count.pc_img_data">
            <picture class="img" v-on:mousedown="ImgOutlineOpen(index)">
              <source media="(min-width:992px)" v-bind:srcset="fixed_img_count.pc_img_data[index].srcset" />
              <img style="width: 100%;" v-bind:src="fixed_img_count.pc_img_data[index].src" alt="" />
            </picture>
          </div>
          <!-- 產生文字 -->
          <div class="text" v-on:mousedown="TextMouseMoveGetXY()" onSelectStart="event.returnValue=false"
            v-bind:style="fixed_text_count.pc_text_data[index]" v-for="(item,index) in fixed_text_count.pc_text_data">
            <div v-on:mousedown="TextOutlineOpen(index)" v-html="fixed_text_count.pc_text_data[index].content"></div>
          </div>
          <!-- 產生連結 -->
          <div class="btn" v-on:mousedown="BtnMouseMoveGetXY()">
            <a v-on:mousedown="BtnOutlineOpen(index)" onclick="return false;" onSelectStart="event.returnValue=false"
              v-bind:style="fixed_btn_count.pc_btn_data[index]" v-for="(item,index) in fixed_btn_count.pc_btn_data"
              v-html="fixed_btn_count.pc_btn_data[index].content" v-bind:href="fixed_btn_count.pc_btn_data[index].href"
              target="_blank"></a>
          </div>
        </div>
        <!-- 手機區 -->
        <div class="display_zone_mobile" style="width: 375px; position: relative;" v-show="mobile_status">
          <!-- 產生圖片 -->
          <div class="main-img" v-on:mousedown="ImgMouseMoveGetXY()" v-bind:style="fixed_img_count.mob_img_data[index]"
            v-for="(item,index) in fixed_img_count.mob_img_data">
            <picture class="img" v-on:mousedown="ImgOutlineOpen(index)">
              <source id="add_size" media="(min-width:2000px)"
                v-bind:srcset="fixed_img_count.mob_img_data[index].srcset" />
              <img style="width: 100%;" v-bind:src="fixed_img_count.mob_img_data[index].src" alt="" />
            </picture>
          </div>
          <!-- 產生文字 -->
          <div class="text" v-on:mousedown="TextMouseMoveGetXY()" onSelectStart="event.returnValue=false"
            v-bind:style="fixed_text_count.mob_text_data[index]" v-for="(item,index) in fixed_text_count.mob_text_data">
            <div v-on:mousedown="TextOutlineOpen(index)" v-html="fixed_text_count.mob_text_data[index].content"></div>
          </div>
          <!-- 產生連結 -->
          <div class="btn" v-on:mousedown="BtnMouseMoveGetXY()">
            <a v-on:mousedown="BtnOutlineOpen(index)" onclick="return false;"
              v-bind:href="fixed_btn_count.mob_btn_data[index].href" onSelectStart="event.returnValue=false"
              v-bind:style="fixed_btn_count.mob_btn_data[index]" v-for="(item,index) in fixed_btn_count.mob_btn_data"
              v-html="fixed_btn_count.mob_btn_data[index].content" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    <!-- 選擇圖片時 scene 加上 panelside-show class -->
    <div class="scene" id="scene_ysl" draggable="false" onSelectStart="event.returnValue=false" style="display: none;">
      <div class="scene-container" id="loreal-compaign_ysl" onSelectStart="event.returnValue=false">
        <!-- 桌機區 -->
        <div class="display_zone_destop"
          style="width: 100%; position: relative; margin: initial;font-size: calc(1.578947vw);" v-show="pc_status">
          <!-- 產生圖片 -->
          <div class="main-img" v-on:mousedown="ImgMouseMoveGetXY()"
            v-bind:style="fixed_img_count.pc_img_temporarily_data[index]"
            v-for="(item,index) in fixed_img_count.pc_img_data">
            <picture class="img" v-on:mousedown="ImgOutlineOpen(index)">
              <source media="(min-width:992px)" v-bind:srcset="fixed_img_count.pc_img_data[index].srcset" />
              <img style="width: 100%;" v-bind:src="fixed_img_count.pc_img_data[index].src" alt="" />
            </picture>
          </div>
          <!-- 產生文字 -->
          <div class="text" v-on:mousedown="TextMouseMoveGetXY()" onSelectStart="event.returnValue=false"
            v-bind:style="fixed_text_count.pc_text_temporarily_data[index]"
            v-for="(item,index) in fixed_text_count.pc_text_data">
            <div v-on:mousedown="TextOutlineOpen(index)" v-html="fixed_text_count.pc_text_data[index].content"></div>
          </div>
          <!-- 產生連結 -->
          <div class="btn" v-on:mousedown="BtnMouseMoveGetXY()">
            <a v-on:mousedown="BtnOutlineOpen(index)" onclick="return false;" onSelectStart="event.returnValue=false"
              v-bind:style="fixed_btn_count.pc_btn_temporarily_data[index]"
              v-for="(item,index) in fixed_btn_count.pc_btn_data" v-html="fixed_btn_count.pc_btn_data[index].content"
              v-bind:href="fixed_btn_count.pc_btn_data[index].href" target="_blank"></a>
          </div>
        </div>
        <!-- 手機區 -->
        <div class="display_zone_mobile" style="width: 100%; position: relative;" v-show="mobile_status">
          <!-- 產生圖片 -->
          <div class="main-img" v-on:mousedown="ImgMouseMoveGetXY()"
            v-bind:style="fixed_img_count.mob_img_temporarily_data[index]"
            v-for="(item,index) in fixed_img_count.mob_img_data">
            <picture class="img" v-on:mousedown="ImgOutlineOpen(index)">
              <source id="add_size" media="(min-width:2000px)"
                v-bind:srcset="fixed_img_count.mob_img_data[index].srcset" />
              <img style="width: 100%;" v-bind:src="fixed_img_count.mob_img_data[index].src" alt="" />
            </picture>
          </div>
          <!-- 產生文字 -->
          <div class="text" v-on:mousedown="TextMouseMoveGetXY()" onSelectStart="event.returnValue=false"
            v-bind:style="fixed_text_count.mob_text_temporarily_data[index]"
            v-for="(item,index) in fixed_text_count.mob_text_data">
            <div v-on:mousedown="TextOutlineOpen(index)" v-html="fixed_text_count.mob_text_data[index].content"></div>
          </div>
          <!-- 產生連結 -->
          <div class="btn" v-on:mousedown="BtnMouseMoveGetXY()">
            <a v-on:mousedown="BtnOutlineOpen(index)" onclick="return false;"
              v-bind:href="fixed_btn_count.mob_btn_data[index].href" onSelectStart="event.returnValue=false"
              v-bind:style="fixed_btn_count.mob_btn_temporarily_data[index]"
              v-for="(item,index) in fixed_btn_count.mob_btn_data" v-html="fixed_btn_count.mob_btn_data[index].content"
              target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    <!-- 程式碼顯示 -->
    <div id="code">
      <div class="blur-bg"></div>
      <div class="code-container">
        <div class="icon-close" v-on:click="CloseCode()"></div>
        <div class="code-wrapper" v-text="zone_code"></div>
      </div>
    </div>
    <!-- 桌機版手機板切換 -->
    <div class="preview-setting">
      <!-- toggle class "show" -->
      <div class="link-view" title="連結區塊預覽">
        <i class="fas fa-eye"></i>
        <i class="fas fa-eye-slash"></i>
      </div>
      <div class="toggle-destop-moblie is-desktop">
        <div v-on:click="ToggleDestop()" title="電腦版"><i class="fas fa-desktop"></i></div>
        <div v-on:click="ToggleMobile()" title="手機版"><i class="fas fa-mobile-alt"></i></div>
      </div>
    </div>
  </div>

  <!-- lightbox - size: s/m/l -->
  <div class="lightbox lightbox-s" style="display: none;">
    <div class="bg"></div>
    <div class="lightbox-container">
      <div class="icon-close">
        <span></span>
        <span></span>
      </div>
      <div class="lightbox-inner">
        <p>確認要刪除元素？</p>
        <div class="control-bar">
          <a href="javascript:;" class="btn btn-lg btn-border btn-check">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-check" style="display: none;">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-check" style="display: none;">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-check" style="display: none;">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-check" style="display: none;">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-check" style="display: none;">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-check" style="display: none;">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-check" style="display: none;">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-check" style="display: none;">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-check" style="display: none;">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-check" style="display: none;">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-check" style="display: none;">確定</a>
          <a href="javascript:;" class="btn btn-lg btn-border btn-cancel">取消</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/js/all.min.js"></script>

  <script type="module" src="./js/data.js"></script>
  <script src="./js/load.js"></script>
</body>

</html>